.NiggaNames{
    margin-left: 5%;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 18px; 
    background-image: linear-gradient(to right, rgba(68, 68, 69, 0.644), rgba(190, 203, 255, 0.004)); 
    border-bottom-left-radius: 11px; 
    border-top-left-radius: 11px;
}

.NiggaPics{
    width: auto;
}

.NiggaBackground{
    background-image: url(https://www.tiktok.com/@me_me6979/video/7299907530816228651?is_from_webapp=1&sender_device=pc&web_id=7301920149677508104);
}